<launch>
	<node pkg="gmapping" type="slam_gmapping" name="slam_mapper" >
		<remap from="scan" to="/base_laser1_scan" />
		<param name="delta" value="0.05" />
		<param name="xmin" value="-50.0" />
		<param name="ymin" value="-10.0" />
		<param name="xmax" value="10.0" />
		<param name="ymax" value="60.0" />
		<param name="linearUpdate" value="0.5" />
		<param name="angularUpdate" value="0.25" />
		<param name="srr" value="0.1" />
		<param name="srt" value="0.2" />
		<param name="str" value="0.1" />
		<param name="stt" value="0.2" />
	</node>
</launch>
