<launch>
	<include file="$(find cwru_configs)/$(optenv ROBOT sim)/base/static_transform.launch" />
  <node pkg="cwru_base" type="crio_receiver" name="crio_receiver" output="screen">
	<rosparam command="load" file="$(find cwru_configs)/$(optenv ROBOT sim)/base/diagnostics.yaml" />
  </node>
  <node pkg="cwru_base" type="odom_translator.py" name="odom_translator" />
  
  <include file="$(find cwru_configs)/$(optenv ROBOT sim)/base/sonar.launch" />
  
  <node pkg="sicktoolbox_wrapper" type="sicklms" name="base_laser1" respawn="true">
      <rosparam command="load" file="$(find cwru_configs)/$(optenv ROBOT sim)/base/base_laser1.yaml" />
     <remap from="scan" to="base_laser1_scan" />
  </node>

  <node pkg="xv_11_laser_driver" type="neato_laser_publisher" name="neato_laser" respawn="true">
      <rosparam command="load" file="$(find cwru_configs)/$(optenv ROBOT sim)/base/neato_laser.yaml" />
     <remap from="scan" to="neato_laser_scan" />
  </node>

 <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_laser" respawn="true">
      <rosparam command="load" file="$(find cwru_configs)/$(optenv ROBOT sim)/base/hokuyo_laser.yaml" />
     <remap from="scan" to="hokuyo_laser_scan" />
  </node>
  
  <node pkg="cwru_base" type="twist_receiver.py" name="twist_receiver" />
  <node pkg="sound_play" type="soundplay_node.py" name="sound_play" />

</launch>
